// ==================================
//           IMPORT
// ==================================
@use "./variables" as var;

// ==================================
//           MIXINS
// ==================================
@mixin root_centered($width: var.$root_width_desktop) {
  max-width: $width;
  margin: 0 auto;
}

@mixin header2_text($color: var.$color_accent1){
  h2 {
    font-family: var.$font-family_accent1;
    font-size: var.$font-size_h2;
    color: $color;
    padding-bottom: 1rem;
  }

  p {
    font-size: var.$font-size_text;
  }
}

@mixin header2_btn(){
  a {
    font-size: 1.125rem;
    color: var.$color_accent1;
    border: 1px solid var.$color_accent1;
    border-radius: 5px;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
  }

  a:hover {
    color: var.$color_accent2;
    background-color: var.$color_accent1;
  }
}

@mixin section_bgImage($url){
  background: url($url) center / cover;
  padding: var.$section_bgImage_padding;
}

@mixin section_bgImage_container(){
  color: var.$color_accent2;
  background-color: var.$color_overlay_container;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@mixin media-query($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}