// =======================================
//              IMPORT
// =======================================
@font-face {
  font-family: "Alegreya_Sans";
  src: url(../../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf);
}

@font-face {
  font-family: Alegreya_SC;
  src: url(../../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
}

@font-face {
  font-family: Nixie_One;
  src: url(../../fonts/Nixie_One/NixieOne-Regular.ttf);
}

// =======================================
//              VARIABLES
// =======================================

// ========== Styling =============
$font-family_primary: "Helvetica";
$font-family_accent1: "Alegreya_Sans";
$font-family_accent2: Alegreya_SC;
$font-family_accent2: Nixie_One;

$font-size_text: 0.875rem;

$line-height_primary: 1.5;

$color_primary: hsla(0, 0%, 42%, 1);
$color_accent1: hsla(187, 17%, 27%, 1);
$color_accent2: hsla(0, 0%, 100%, 1);
$color_overlay: hsla(182, 93%, 12%, 0.7);

// ========== Root =============
$root_width-desktop: 1440px;

// ========== Local =============
$section_padding-grid: 3.5rem 150px 5.5rem 150px;
$section_padding-background: 5rem 135px;


// ========== Responsiveness =============
// $breakpoint_mobile: 500px;
// $breakpoint_tablet: 768px;

