// ==================================
//           IMPORT
// ==================================
@use "./generals";
@use "./mixins";
@use "./resets";
@use "./variables" as var;

// ==================================
//           LOCAL STYLES
// ==================================

// ========= header =============
.nav-bar {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var.$color_accent_white;

  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translate(-50%);
  width: 90%;

  a {
    font-size: 2.25rem;
    font-family: var.$font-family_heading_blog;
  
    &:hover {
      text-decoration: underline;
    } 
  }

  img {
    cursor: pointer;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  background: url(../../img/hero.png) center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: var.$font-family_headding_hero;
    font-size: var.$font-size_heading_hero;
    color: var.$color_accent_white;
    transform: translate(0, -15%);
  }

  h4 {
    font-family: var.$font-family_heading_blog;
    font-size: 1.5rem;
    color: var.$color_accent_grey;
    transform: translate(0, -55%);
  }
}

// ========= main =============
// ========= portfolio section ========
.portfolio {
  padding: var.$section_grid_padding;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include mixins.section_heading_txt();
    @include mixins.section_heading_btn();
  }

  &__wrapper {
    padding-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    &__item {
      position: relative;
      overflow: hidden;
    }

    &__item img {
      aspect-ratio: 1.7 / 1;
      object-fit: cover;
      object-position: center;
      transition: transform 300ms ease;
    }

    &__item .overlay {
      position: absolute;
      inset: 0;
      transition: background-color 300ms ease;
    }

    &__item a {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var.$color_accent_white;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: 1px solid var.$color_accent_white;
      opacity: 0;
      transition: all 300ms ease;

      &:hover {
        color: var.$color_overlay_grid;
        background-color: var.$color_accent_white;
      }
    }

    &__item:hover img {
      transform: scale(1.3);
    }

    &__item:hover .overlay {
      background-color: var.$color_overlay_grid;
    }

    &__item:hover a {
      top: 50%;
      opacity: 1;
    }
  }
}

// ========= services section ========
.services {
  @include mixins.section_bg-Image("../../img/services.png");

  &__container {
    @include mixins.section_bg-Image_container();
    @include mixins.section_heading_txt(var.$color_accent_white);

    &__wrapper {
      padding-top: 1rem;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      width: 100%;

      &__item {
        padding-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;

        img {
          width: 100%;
          aspect-ratio: 1 / 1;
        }

        p {
          padding-top: 1rem;
        }
      }
    }
  }
}

// ========= blog section ========
.blog {
  padding: var.$section_grid_padding;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include mixins.section_heading_txt();
    @include mixins.section_heading_btn();
  }

  &__wrapper {
    padding-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &__item {
      transition: transform 300ms ease;

      img {
        filter: grayscale(100%);
      }

      h3 {
        padding-top: 1rem;
        font-family: var.$font-family_heading_section;
        font-size: var.$font-size_heading_blog;
        color: var.$color_accent_grey;
        text-transform: capitalize;
      }

      span {
        font-style: italic;
      }

      p {
        padding-top: 1rem;
        font-size: var.$font-size_primary;
      }

      a {
        padding-top: 1.5rem;
        display: inline-block;
        color: var.$color_blog_link;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        transform: scale(1.05);
      }

      &:hover img {
        filter: grayscale(0);
      }
    }
  }
}

// ========= quote section ========
.quote {
  @include mixins.section_bg-Image("../../img/latin.png");

  &__container {
    @include mixins.section_bg-Image_container();
    @include mixins.section_heading_txt(var.$color_accent_white);

    a {
      margin-top: 4rem;
      padding: 1rem;
      border: 1px solid var.$color_accent_white;
      border-radius: 5px;

      &:hover {
        background-color: var.$color_accent_white;
        color: var.$color_accent_grey;    
      }
    }
  }
}

// ========= testimonials section ========
.testimonials {
  padding: var.$section_grid_padding;
  @include mixins.section_heading_txt();
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    padding-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    width: 100%;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 300px;

      img {
        width: 150px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }

      p {
        padding-top: 1rem;
      }

      span:nth-of-type(1) {
        padding-top: 1.2rem;
        font-weight: 700;
      }
    }
  }
}

// ========= contact section ========
.contact {
  @include mixins.section_bg-Image("../../img/contact.png");

  &__container {
    @include mixins.section_bg-Image_container();
    @include mixins.section_heading_txt(var.$color_accent_white);

    &__form {
      padding-top: 2.5rem;
      width: 100%;
      max-width: 550px;
      text-align: center;

      .text,
      .email,
      .message {
        margin-top: 1rem;
        width: 100%;
        line-height: 2;
        background: transparent;
        color: var.$color_accent_white;
        border: 1px solid var.$color_accent_white;
        padding-left: 0.5rem;

        &::placeholder {
          color: var.$color_accent_white;
          opacity: 0.5;
        }
      }

      .submit-btn {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background: transparent;
        border: 1px solid var.$color_accent_white;
        
        &:hover {
          background-color: var.$color_accent_white;
          color: var.$color_accent_grey;
          cursor: pointer;
        }
      }
    }
  }
}

// ========= footer ========
footer {
  background-color: var.$color_footer_background;

  p {
    padding: 3rem 0 48px 10%;
    color: var.$color_accent_white;
  }
}

// ==================================
//           RESPONSIVENESS
// ==================================

// ========= Desktop >1440px =======
@include mixins.media-query_widescreen(var.$root_width_desktop) {
  :root {
    max-width: initial;
    margin: initial;
  }

  .nav-bar {
    max-width: 1440px;
  }

  .hero {
    width: 100vw;
  }

  main,
  footer {
    @include mixins.centered();
  }
}

// ========= Desktop 1200px ========
@include mixins.media-query(var.$breakpoint_xl) {
  .portfolio,
  .blog,
  .testimonials {
    padding: 2.5rem 5% 4rem 5%;
  }

  .services,
  .quote,
  .contact {
    padding: 4rem 16px;
  }
}

// ========= Tablet 768px ========
@include mixins.media-query(var.$breakpoint_md) {
  .portfolio__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .services__container__wrapper,
  .blog__wrapper,
  .testimonials__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

// ========= Mobile 576px ========
@include mixins.media-query(var.$breakpoint_xs) {
  .portfolio__wrapper {
    grid-template-columns: 1fr;
  }
}

// ========= Mobile 425px ========
@include mixins.media-query(var.$breakpoint_xxs) {
  .nav-bar {
    width: 100%;

    a {
      font-size: 1.5rem;
    }
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero h4 {
    font-size: 1.2rem;
  }

  .portfolio,
  .blog,
  .testimonials {
    padding: 2rem 2.5% 3rem 2.5%;
  }

  .services,
  .quote,
  .contact {
    padding: 3rem 2.5%;
  }

  .portfolio__heading h2,
  .blog__heading h2,
  .testimonials h2,
  .services__container h2,
  .contact__container h2 {
    font-size: 1.875rem;
  }

  .portfolio__heading a,
  .blog__heading a {
    font-size: 0.875rem
  }
}