// ==================================
//           IMPORT
// ==================================
@font-face {
  font-family: Nixie_One;
  src: url(../../fonts/Nixie_One/NixieOne-Regular.ttf);
}

@font-face {
  font-family: Alegreya_Sans;
  src: url(../../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf);
}

@font-face {
  font-family: Alegreya_SC;
  src: url(../../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
}

// ==================================
//           VARIABLES
// ==================================

// ========= Styling =============
$font-family_primary: Helvetica;
$font-family_headding_hero: Nixie_One;
$font-family_heading_section: Alegreya_Sans;
$font-family_heading_blog: Alegreya_SC;

$font-size_primary: 0.875rem;
$font-size_heading_hero: 3.5rem;
$font-size_heading_section: 2.25rem;
$font-size_heading_blog: 1.875rem;

$line-height_primary: 1.5;

$color_primary: hsla(0, 0%, 42%, 1);
$color_accent_grey: hsla(187, 17%, 27%, 1);
$color_accent_white: hsla(0, 0%, 100%, 1);
$color_overlay_grid: hsla(182, 93%, 12%, 0.7);
$color_overlay_container: hsla(0, 0%, 0%, 0.2);
$color_blog_link: hsla(197, 54%, 55%, 1);
$color_root_background: hsla(0, 3%, 94%, 1);
$color_footer_background: hsla(210, 31%, 24%, 1);

// ========= Root =============
$root_width_desktop: 1440px;

// ========= Local =============
$section_grid_padding: 3.5rem 150px 5.5rem 150px;
$section_bg-Image_padding: 5rem 135px;

// ========= Responsiveness =======
$breakpoint_xl: 1200px;
$breakpoint_md: 768px;
$breakpoint_xs: 576px;
$breakpoint_xxs: 425px;

